# MacOS
.DS_Store

# IntelliJ
.idea
.iml
.ipr

# Node
node_modules
out
build
.pnp
.pnp.js
.next
.vercel
.pnpm-debug.log
tsconfig.tsbuildinfo

# Terraform
.terraform
*.tfstate
*.tfstate.backup

# Nix
result

# Dir Env
.direnv

# Dynamic Content
sitemap.xml
